{
  "presets": [["next/babel"]],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "@components": "./src/shared/components"
        }
      }
    ],
    ["@babel/plugin-proposal-decorators", { "legacy": true }]
  ]
}
