.outer {
  background: var(--white-dark);
  border-top: 1px solid var(--light-gray);
  min-height: 120px;
}
.inner {
  padding: 20px 0;
  font-size: 14px;
  color: var(--gray);
  composes: content from "Layout.module.scss";
}
